.ui.form {
	max-width: 60vw;
	// max-width: 620px;
	margin: 30px auto;
	background: whitesmoke;
	text-align: left;
	padding: 40px;
	border-radius: 10px;

	h2,
	h3,
	h4,
	h5,
	label,
	p,
	strong {
		color: black;
	}
}

.ui.form .field > label,
.ui.form .inline.fields .field > label {
	// color: $primaryfnt;
	@include font-size(1.2);
	text-transform: uppercase;
}

.ui.form .fields > .field {
	display: flex;
	flex-direction: column;
	margin: 5px;
}
.ui.form .fields {
	display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	// max-height: 250px;
}

.inputs > .field {
	display: flex;
	flex-direction: row;
}

.ui.form .field {
	margin: 10px 5px;
	// display: flex;
	// flex-direction: column;

	label {
		font-weight: bold;
	}
	li {
		display: flex;
		flex-direction: column-reverse;
	}
}

.ui.form .field > label {
	margin-right: 20px;
}
.ui.button {
	margin: 20px 10px;
}

.ui.form ::placeholder {
	color: rgba(0, 0, 0, 0.9);
}

form img {
	width: 200px;
}

.inputs {
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
	// max-height: 250px;
	// width: 100%;
	label {
		@include font-size(1.2);
	}
}

// .visually-hidden {
// 	position: absolute;
// 	left: -100vw;
// }
.srv-validation-message {
	background-color: #fff6f6;
	color: #9f3a38;
	box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
	margin: 1em 0;
	padding: 1em 1.5em;
	transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
		box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
	border-radius: 0.28571429rem;
}

.ui.form textarea {
	resize: none;
}

.checkbox {
	// @include flexbox();
	display: flex;
	justify-content: center;
	margin: 5px;
}

.ui.search > .prompt::placeholder {
	text-align: center;
}

ul.ks-cboxtags {
	list-style: none;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

ul.ks-cboxtags .ui.input {
	border-radius: 25px;
}
ul.ks-cboxtags li {
	display: flex;
	margin: 0 5px;
	position: relative;
}
ul.ks-cboxtags li label {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid rgba(139, 139, 139, 0.3);
	color: #adadad;
	border-radius: 25px;
	white-space: nowrap;
	margin: 3px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.2s;
}

ul.ks-cboxtags li label {
	padding: 8px 12px;
	cursor: pointer;
}

ul.ks-cboxtags li label::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	padding: 2px 6px 2px 2px;
	content: "\002B";
	transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
	content: "\2713";
	transform: rotate(-360deg);
	transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li.checkbox-dark input[type="checkbox"]:checked + label {
	border: 2px solid $scnd;
	background-color: lighten($scnd, 20%);
	color: #fff;
	transition: all 0.2s;
}

ul.ks-cboxtags li.checkbox-light input[type="checkbox"]:checked + label {
	border: 2px solid $thrd;
	background-color: lighten($thrd, 20%);
	color: #fff;
	transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
