@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

@font-face {
	font-family: "Theinhardt";
	src: url("../fonts/theinhardt.ttf");
}
* {
	margin: 0;
	padding: 0;
}

body {
	// font-family: $prmfont;
	background-color: $primary;
	color: $primaryfnt;
	line-height: $base-line-height;
	// font-family: "Source Sans Pro", sans-serif;

	// @media (max-width: 500px) {
	// 	font-family: "Slabo 27px", serif;
	// }
}

body,
p {
	@include font-size(1.5);
	// font-family: "Source Sans Pro", sans-serif;
	font-size: $base-font-size;
	margin-bottom: $vertical-rhythm;
}
.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

a {
	color: $primaryfnt;

	&:hover {
		color: $thrdaccent;
	}
}

h2,
h3,
h4,
h5,
p {
	// font-family: $prmfont;

	font-weight: 300;
	line-height: 1.1em;
	margin: 0;
}

h1 {
	@media (min-width: 768px) {
		@include font-size(9);
		word-wrap: break-word;
	}

	@include font-size(5);
	font-family: "Source Sans Pro", sans-serif;
	// font-family: $prmfont;

	color: black;
	letter-spacing: -5px;
	// font-weight: ;
	// text-transform: uppercase;
	// font-size: 3em;
	margin-bottom: $vertical-rhythm * 2;
}

h2 {
	// font-size: 2em;
	margin-bottom: $vertical-rhythm;
	@include font-size(5);
	// letter-spacing: -5px;
}

h3 {
	// font-size: 1.5em;
	margin-bottom: $vertical-rhythm;
	@include font-size(3);
}

h4 {
	@include font-size(2);
	margin: $vertical-rhythm 0;
	// margin-bottom: $vertical-rhythm;
}

h5 {
	@include font-size(1.4);
	margin: 0;
}

h3 {
	text-transform: uppercase;
}
li {
	list-style-type: none;
}

input {
	margin: 5px 10px;
}

i.icon,
i.icons {
	@include font-size(1.8);
}
