* {
	margin: 0;
	padding: 0;
	// line-height: 1.1em !important;
}

body {
	background-color: $primary;
	color: $primaryfnt;
}
body,
p {
	@include font-size(1.5);
}
.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

a {
	color: $primaryfnt;
}

h1 {
	@include font-size(4);
	word-wrap: break-word;
	font-weight: 300;
}

h2 {
	@include font-size(2.5);
}

h3 {
	@include font-size(2);
}

h4 {
	@include font-size(1.6);
	margin: 0;
}

li {
	list-style-type: none;
}

input {
	margin: 5px 10px;
}
