// @media (max-width: 900px) {
// 	.details {
// 		flex-wrap: wrap;
// 	}

// 	.bio {
// 		width: 100%;
// 	}

// }

// @media (max-width: 500px) {
// 	.wrapper {
// 		width: 100%;
// 	}
// 	.details-image {
// 		width: 250px;
// 		height: 250px;
// 	}

// 	.fluid.card {
// 		width: 150px;
// 	}

// 	.image {
// 		width: 150px;
// 		height: 150px;
// 	}
// }
@media (min-width: 600px) {
	.copy {
		display: block;
	}
}

@media (max-width: 768px) {
	.details {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		.bio {
			width: 100%;
		}
	}
}

@media (max-width: 500px) {
	.details-image {
		width: 100%;
	}

	.ui.button.mobile {
		display: block;
	}

	.fluid.card {
		// width: 150px;
		// height: 200px;

		.image {
			// width: 150px;
			// height: 150px;
		}
	}
}
