nav {
  margin: $base-font-size;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  // padding: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @media only screen and (min-width: 768px) {
    flex-direction: row-reverse;
    background-color: transparent;
  }
  background-color: $primary;
  flex-direction: column;

  a {
    @include font-size(1.3);
    color: $primaryfnt;
  }

  li {
    margin: 10px;
  }

  ul {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    // align-items: flex-start;
  }
}

.ui.search {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;

  input {
    // width: 30vw;
    text-transform: uppercase;
    font-family: $branding;
    padding: 5px 10px;
    text-align: center;
  }

  a {
    margin: 10px auto;
    color: $primaryfnt;
    // display: flex;
  }
}
