.ui.menu {
	background-color: $thrd;
	display: flex;
	justify-content: center;

	a {
		@include font-size(1.3);
		color: $primaryfnt;
	}

	.item {
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $primary;
		}
	}
}

.toolbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $scnd;
}

.toolbar-logo {
	text-transform: uppercase;
}
