.ui.menu {
	background-color: $thrd;
	display: flex;
	justify-content: center;

	a {
		@include font-size(1.3);
		color: $primaryfnt;
	}

	.item {
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $primary;
		}
	}
}
