.image {
	height: 300px;
	width: 300px;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.column {
	margin: 20px auto;
}

.card {
	display: flex;
	justify-content: center;
	// align-items: center;
	// flex-direction: column;
	// width: 200px;
	// margin: 20px auto;
	// border: 1px solid orange;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
}
