.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.details {
  display: flex;
  justify-content: center;
  margin: ($base-font-size) 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .bio {
    text-align: left;
  }

  .work {
    display: flex;
    img {
      width: calc((100% / 3) - 20px);
      height: auto;
      margin: 10px;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}

.details-content {
  width: 100%;
}

.details-titles {
  width: 100%;
}

.details-titles,
.details-image,
.details-content {
  background-color: rgba($darkaccent, 0.4);
  padding: $base-font-size;
  border-radius: 20px;
  height: auto;

  margin: ($base-font-size) 0;
}

li.dark,
li.light {
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  margin-left: 0;
  letter-spacing: 1px;
}

// ? new layout? - see draw.io
.details-image {
  height: calc(300px);
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.genres,
.titles,
.fields {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  > div {
    display: flex;
    align-items: center;

    p {
      margin: 0 0.5rem;
    }
  }
}

.socials {
  margin-top: 20px;

  a {
    margin: 0 0.5rem;
  }

  svg {
    font-size: $base-font-size * 1.25;
  }
}

.light {
  background-color: $lightaccent;
}

.dark {
  background-color: $darkaccent;
}

.segment {
  margin: 10px auto;
}

@media (max-width: 480px) {
  .details-titles {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .details-titles,
  .details-image,
  .details-content {
    margin: $base-font-size;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .work {
      img {
        max-height: 130px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .details {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: initial;

    .bio {
      width: 100%;
    }
  }
  .details-content,
  .details-titles.third {
    width: calc(50% - 2rem);
  }
}
