.details-container {
	// box-shadow: 0 0px 10px rgba(97, 97, 97, 0.25);
	//  0 10px 10px rgba(0, 0, 0, 0.44);
	border-radius: 15px;
	padding: 20px;
	// margin: 20px auto;
	margin-top: 80px;
	// border: 1px solid rgba(255, 255, 255, 0.1);
	// background: #f5f0ed;
	p {
		@include font-size(1.5);
	}
}

.details {
	display: flex;
	justify-content: space-between;
}

li.dark,
li.light {
	// display: inline;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 5px;
	margin-left: 0;
	letter-spacing: 1px;
}

.details-image {
	height: 350px;
	width: 350px;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
.bio {
	text-align: left;
}

.socials {
	margin: 20px 0;
}

.light {
	background-color: $thrd;
}

.dark {
	background-color: $scnd;
}

.segment {
	margin: 10px auto;
}

.bio {
	width: 30%;
}
