ul.profile-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	justify-content: center;
}

li.label {
	@include font-size(1);
	// background: slategrey;
	color: black;
	text-transform: uppercase;
	// padding: 5px 5px;
	// padding: 5px;
	margin: 0 5px;
	// margin: 5px 5px 0 0;
	// border-radius: 10px;
	// border-right: 1px solid black;
	// padding: 10px 15px;
	// margin: 5px;
	padding: 3px;
	margin-left: 0;
	letter-spacing: 1px;
	// border: 1px solid black;
	display: inline-block;
	width: auto;
}
