.image {
	height: 200px;
	width: 200px;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.column {
	margin: 0 auto;
	// margin: 20px auto;
	// width: calc(200px - 40px);
}

.filter {
	@include flexbox();
}

.card {
	display: flex;
	justify-content: center;
	// align-items: center;
	// flex-direction: column;
	// width: 200px;
	// margin: 20px auto;
	// border: 1px solid orange;
}

.ui.link.cards {
	padding-top: 40px;
	margin: 0 auto;
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
}

.fluid.card {
	width: 200px;
	margin: 10px;
}

.ui.link.cards .card {
	&:hover {
		background: transparent;
	}
}

.content {
	@include flexbox();
	padding: 10px 0;
	text-align: center;
}
