.details-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 20px;
  // margin-top: 50px;
  p {
    @include font-size(1.5);
  }

  h2 {
    text-align: center;
  }
}

.details {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  // justify-content: space-between;

  .bio {
    // width: 40%;
    // height: auto;
    text-align: left;
  }

  .work {
    // padding: $base-font-size 0;
    // margin: 0 auto;
    display: flex;
    img {
      width: calc((100% / 3) - 20px);
      height: auto;
      margin: 10px;
      border-radius: 20px;
    }
  }
}

.details-content {
  @media only screen and (min-width: 768px) {
    width: 60%;
  }
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.details-titles,
.details-image,
.details-content {
  // width: calc(100% / 3);
  background-color: lighten($primary, 3);
  padding: $base-font-size;
  // width: calc(100% / 3);
  // margin: 0 auto;
  border-radius: 20px;
  height: auto;
  @media only screen and (min-width: 768px) {
    margin: $base-font-size;
  }
  margin: ($base-font-size) auto;
  // width: 100%;
}

.details-titles {
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}
// .ui.button.mobile {
//   display: none;
// }

// .details-titles {
// width: 25%;
// }
li.dark,
li.light {
  // display: inline;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  margin-left: 0;
  letter-spacing: 1px;
}

// ? remove pronoun and keep square
// ? move pronoun to ???
// ? new layout? - see draw.io
.details-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  // height: auto;
  display: flex;
  flex-direction: column;
  // width: 30%;
  // height: auto;
  img {
    // height: 350px;
    // width: 20%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

// .socials {
//   margin: 20px 0;
// }

.light {
  background-color: $thrd;
}

.dark {
  background-color: $scnd;
}

.segment {
  margin: 10px auto;
}
