ul.profile-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

li.label {
  color: #cfcfcf;
  text-transform: uppercase;
  margin: 0 5px;
  padding: 3px;
  margin-left: 0;
  letter-spacing: 1px;
  display: inline-block;
  width: auto;
}
