.single-card {
  display: flex;
  flex-direction: column;
  margin: 50px auto;

  & > * {
    margin: 0 3rem;
  }
  .image {
    width: 300px;
    height: 300px;

    img {
      border-radius: $border-rad;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.single-content {
  @include flexbox();

  h5 {
    text-transform: capitalize;
  }
}

.thank-you {
  margin-top: 4rem;
  @include flexbox();
  text-align: center;

  & > * {
    margin: 0.5rem 0;
  }
}

@media (min-width: 480px) {
  .single-card {
    display: flex;
    flex-direction: row;
  }
}
