$primary: #201f1f;
$primaryfnt: #ede9ea;
$lightaccent: #7f7b78;
$darkaccent: #545454;
$darkshade: #151114;
// #ece6dc

$branding: 'Source Code Pro', monospace;

$high1: rgb(40, 75, 99);
$high2: rgb(60, 110, 113);
$thrdaccent: rgb(252, 163, 17);

$base-line-height: 1.4;
$base-font-size: 1rem;
$vertical-rhythm: $base-line-height * $base-font-size;

$border-rad: 30px;
