$primary: rgb(23, 23, 23);
$primaryfnt: white;

$scnd: rgb(43, 43, 43);
$thrd: rgb(63, 63, 63);

$base-font-size: 100; // Converts to 16px
$line-height: 1.6;
$leading: $base-font-size * $line-height;
